body {

margin: auto;
text-align: center;
margin-top: 100px;
background-color::floralwhite;

}

h1 {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
    font-size: 40px;

}



input {
    margin: auto;
    height:100px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:crimson;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 3px;
    border: 2px solid black;
}

button {
    font-size:20px;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    margin-top: 5px;
}

#total {

        margin: auto;
        height:100px;
        min-width:300px;
        max-width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:80px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color:crimson;
        color: white;
        padding:15px;
        text-align: center;
        border-radius: 3px;
       
    }

    p#textid {

    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: crimson;
    color: white;
    padding: 5px;
    width: fit-content;
    }

    .myclass 

    {
        border: 3px solid black;
    }